--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
opencv-python-headless
ultralytics
deep-sort-realtime
easyocr
pandas
numpy
torch
torchvision
pillow
pydantic
plotly
flask
SQLAlchemy
pymysql
psycopg2-binary
fastapi
uvicorn
requests